<div class="win">
	<form id="form">
		<div class="inp-div">
			<input type="hidden" name="id" value=""/>
		</div>
		<div class="inp-div">
			<label>Nature :</label><input type="text" name="nom" value="" label="Nature" required/>*
		</div>
		<div class="inp-div">
			<label>Description :</label><textarea type="text" name="desc" value="" label="Description"></textarea>
		</div>
	</form>
	<div class="btns">
		<a href="#" id="save" class="btn">Enregistrer</a>
		<a href="#" id="cancel" class="btn">Annuler</a>
	</div>
</div>