<div class="main">
	<section class="cnt">
		<div class="accordion">
			<a href="#" class="bg dash">Tableau de Bord</a>
			<section class="expand">
				<a href="#" class="bg">Administration</a>
				<ul>
					<!-- <li id="dvs">Divisions et Services</li> -->
					<li id="pers">Personnel</li>
					<li id="frns">Fournisseurs</li>
					<li id="bc">Bons de Commande</li>
					<li id="mat">Matériels</li>
					<li id="profil">Profil</li>
				</ul>
			</section>
			<!-- <section>
				<a href="#" class="bg">Matériels et Fournitures</a>
				<ul>
					<li id="fourniture">Fournitures de Bureau</li>
				</ul>
			</section> -->
			<section>
				<a href="#" class="bg">Mouvement</a>
				<ul>
					<li id="livr">Livraison</li>
					<li id="livr__">Livraison 2</li>
					<li id="mvtPers">Personnel</li>
					<li id="mvtStock">Stock</li>
				</ul>
			</section>
			<section >
				<a href="#" class="bg">Etats</a>
				<ul>
					<li id="bltMvt">Bulletin de Mouvement</li>
					<li id="fichFrnt">Fiche des Fournitures</li>
					<li id="fichMat">Fiche de Stock</li>
				</ul>
			</section>

		</div>
		<a href="#" class="bg logout">Déconnexion</a>
	</section>
	<section id="wrap" class="cnt"></section>
</div>