<div class="pers">
	<section class="parent">
        <div class="filter-cnt">
	        <input type="text" class="filter-input" id="filter" value="" />
			<ol class="list">
				<div><span class="head">B.C. de Fournitures</span></div>
				<div><span class="head">B.C. de Materiéls</span></div>
			</ol>
        </div>
	</section>
	<section class="parent">
		<!-- <div class="header">Fiche de Stock</div> -->
		<div class="stock"><div class="vie">Veuillez sélectionner un enregistrement dans la liste !</div></div>
	</section>
</div>